<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Equinox 3.8M4" sequenceNumber="0">
<locations>
<location path="${project_loc:com.eclipsesource.jaxrs.connector.target}/equinox" type="Directory"/>
<location path="${project_loc:com.eclipsesource.jaxrs.connector.target}/jersey" type="Directory"/>
<location path="${project_loc:com.eclipsesource.jaxrs.connector.target}/testing" type="Directory"/>
</locations>
</target>
